<!DOCTYPE html>
<html lang="en">
<head>

<!-- BOOTSTRAP -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<!-- JQUERY -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<!-- JAVASCRIPT -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<script type="text/javascript" src="javascripts/globe_tweets.js"></script>

<script src="/socket.io/socket.io.js"></script>

<!-- CSS -->
<link type="text/css" rel="stylesheet" href="/stylesheets/style.css">

  <meta charset="UTF-8">
  <title>#fmblessedlife</title>

</head>
<body>


