<!DOCTYPE html>
<html lang="en">
<head>

<!-- BOOTSTRAP -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<!-- JQUERY -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<!-- JAVASCRIPT -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<script type="text/javascript" src="javascripts/globe_tweets.js"></script>

<script type="text/javascript" src="javascripts/jquery.runner.js"></script>

<script src="/socket.io/socket.io.js"></script>

<!-- CSS -->
<link type="text/css" rel="stylesheet" href="stylesheets/style.css">
<link type="text/css" rel="stylesheet" href="stylesheets/animate.css">

  <meta charset="UTF-8">
  <title>#fmblessedlife</title>

</head>
<body style="">
<!-- background: url(images/background2.svg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; -->

