<div class="container-fluid col-lg-12">
  <div class="rows row">
  <h4>About #fmblessedlife</h4>

  <p>I like to think of the scene in Birdman, the oft-repeated phrase in it, "What do we talk about when we talk about love?"  This website poses the question: what do we talk about when we talk about life?  Do we count our "blessings" or openly complain about how "f*cked" our lives are?  I was curious to see if Twitter users were more likely to tweet the hashtag #blessed v. #fml.  This is the result of my curiousity.</p>
  </div>
</div>