<% include partials/header %>

<div class="container col-lg-12">
  <div class="rows row">

    <div class="col-lg-12 col-md-12">

      <div class="header col-lg-4 col-md-4">
        <a href="/"><img id="logo" src="images/fmbl_logo5.svg" alt=""></a>
      </div>

      <div class="col-lg-8 col-md-8">
        <div class="col-lg-12 col-md-12">


      <div class="col-lg-6 col-md-6 links" >
        <a href="#" class="information" title="about"><div id="border">
            <p id="navlinks">#ABOUT</p>
          </div></a>
      </div>

      <div class="col-lg-6 col-md-6 links">
        <a href="#" class="information" title="contact"><div id="border">
          <p id="navlinks">#CONTACT</p>
         </div></a>
      </div>
    </div>
    </div>

    <div class="col-lg-4 col-md-4"></div>
    <div class="col-lg-8 col-md-8">

      <section class="current" id="about">
        <div class="info">
          <p>I like to think of the movie "Birdman" as an inspiration for this site. In the film, Michael Keaton's theatre character uses the oft-repeated phrase, "What do we talk about when we talk about love?"  This website poses the question: what do we talk about when we want to tell the world about our current life?  Are we more keen to be thankful or to complain?  I was curious to see if Twitter users were more likely to tweet the hashtag #blessed v. #fml.  This is the result of my curiousity.</p>
        </div>
      </section>

      <section id="contact">
        <div class="info">
          <p>Project made by: Calvin Jhunjhnuwala<br>
          Full-stack web developer, die-hard Sacramento Kings fan, & Audiophile.<br>
          Github: calvinjwala<br>
          Email: cjhunjhnuwala@gmail.com
          </p>
        </div>
      </section>
    </div>


    <div class="timer col-lg-12 col-md-12">
    <hr>
      <!-- <span id="runner"></span><br> -->
      <button id="tweet-start">
        <p class="toggler" id="fontstart">START</p>
      </button>
       <button id="resetButton">
        <p>reset</p>
      </button>
    </div>

    <div class="middleSection col-lg-6 col-md-6">
      <h4>#blessed</h4>
      <div id="tweets">
        <div id="blessedTweetCount">
          <div id="blessedCounter"></div>
        </div>
        <div id="blessedTweets"></div>
      </div>
    </div>

    <div class="middleSection col-lg-6 col-md-6">
      <h4>#fml</h4>
      <div id="tweets">
        <div id="fmlTweetCount">
          <div id="fmlCounter"></div>
        </div>
        <div id="fmlTweets"></div>
      </div>
    </div>

  </div>
</div>

<script>
$(window).load(function(){

  $('#runner').runner('reset', true);

  $('#runner').runner({
    autostart: false,
    countdown: true,
    startAt: 60000,
    stopAt: 0,
    milliseconds: false,
  });

  counter = 0

  $("#tweet-start").on("click", function() {
    counter++;
    var $this = $(this);
    globeTweet.startStream();
    $('#runner').runner('start');

    $this.toggleClass("toggler");


    if ($this.hasClass("toggler") && $this.html("START")) {
      $this.html("STOP");
    } else {
      $this.html("START");
    }

    if (counter % 2 == 0) {
      console.log(counter)
      $('#runner').runner('STOP');
      globeTweet.stopStream();
    };
  });

  var time

  function myTimer() {
    time = $("#runner").text();
  }

  $('#contact').hide();

  $('.information').click(function() {
      var id = (this.title);
      // console.log(id);
      var $content = $('#' + id);
      if ($('.current').length === 0) {
        showContent($content);
      }
      else
        $('.current').fadeOut(500, function() {
          showContent($content);
        });
      });

  function showContent(content) {
      content.fadeIn(500);
      $('.current').removeClass('current');
      content.addClass('current');
  }

});
</script>

</body>
<script type="text/javascript" src="/javascripts/globe_tweet.js"></script>
</html>