<% include partials/header %>

<div class="container-fluid">
  <div class="rows row col-lg-12 col-md-12">

    <div class="header col-lg-12 col-md-12">
      <div id="border">
        <h4 id="navlogo">
          <a href="/">#FMBLESSEDLIFE</a>
        </h4>
        <p id="navlinks">
          <a href="#">#about</a>
          <a href="#">#contact</a>
        </p>
      </div>
    </div>

    <div class="col-lg-12 col-md-12">
      <span id="runner"></span><br>
      <button id="tweet-start">
        <p id="toggler">start</p>
      </button>
       <button id="resetButton">
        <p>reset</p>
      </button>
    </div>

    <div class="middleSection col-lg-6 col-md-6" id="tweets">
      <p>people are #blessed</p>
      <div id="blessedTweetCount">
        <div id="blessedCounter"></div>
      </div>
      <div id="blessedTweets"></div>
    </div>

    <div class="middleSection col-lg-6 col-md-6" id="tweets">
      <p>people say #fml</p>
      <div id="fmlTweetCount">
        <div id="fmlCounter"></div>
      </div>
      <div id="fmlTweets"></div>
    </div>

  </div>
</div>

<script>
$(document).ready(function(){

  console.log("hello")

  $('#runner').runner('reset', true);

  $('#runner').runner({
    autostart: false,
    countdown: true,
    startAt: 60000,
    stopAt: 0,
    milliseconds: false,
  });

  $("#tweet-start").click(function() {
    globeTweet.startStream();
    $('#runner').runner('start');
  });

  $("#toggler").click(function(){
    this.innerHTML
  })

});
</script>

</body>
<script type="text/javascript" src="/javascripts/globe_tweet.js"></script>
</html>