/* GENERAL STYLING */
@font-face {
    font-family:"Robotor";
    src: url("robotor.ttf") format('truetype');
}

body {
  font-family: "Robotor", Arial;
  color: black;
  height: 100%;
}

a {
  color: #43d2b2;
}

/* HEADER STYLING */
.header {
  display: inline-block;
  vertical-align: middle;
  margin-top: 20px;
  margin-bottom: 20px;
}

#border {
  border: 2px solid #4363d2;
  /*text-shadow: 1px 1px 1px #000;*/
  width: 35%;
  margin: 0 auto;
}

#navlogo {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  vertical-align: middle;
  padding-top: 30px;
  padding-bottom: 15px;
}

#navlinks {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  vertical-align: middle;
  padding-bottom: 20px;
}
#navlinks a{
  margin-left: 20px;
  margin-right: 20px;
}

/*BUTTONS*/
#resetButton {
  display: none;
}


/* TWITTER STREAM */
#tweets {
  border: 1px solid #4363d2;
  margin: 0 auto;
  text-align: left;
}

.middleSection {
  margin: 0 auto;
  text-align: center;
  overflow: scroll;
}

/* THE TWEETS!! */
.theTweets {
  border: 1px solid #39c7fd;
  margin-top: 5px;
  margin-bottom: 5px;
  overflow: scroll;
}

#profPic {
  margin-left: 0px;
  left: 0;
}
