/* GENERAL STYLING */
@font-face {
    font-family:"Robotor";
    src: url("robotor.ttf") format('truetype');
}

body {
  /*background-color: #E9F2F9;*/
  font-family: "Robotor", Arial;
  /*color: #3F87BA;*/
  height: 100%;
  padding-left: 30px;
  padding-right: 30px;
}

h4 {
  border: 3px solid #E9F2F9;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

hr {
  margin-top: 0px;
  color: #e9f2f9;
  border: 1px solid #e9f2f9;
}

a {
  color: black;
  /*color: #43d2b2;*/
  /*color: #3F87BA;*/
  /*color: #1A798C;*/
}

button {
  height: 35px;
  background-color: #E9F2F9;
  line-height: normal;
  padding: 2px 6px 3px;
  margin-bottom: 12px;
}

/* HEADER STYLING */
#logo{
  height: 200px;
}

.header {
  display: inline-block;
  vertical-align: middle;
  margin-top: 20px;
  margin-bottom: 20px;
}

#border {
  border: 2px solid #E9F2F9;
  width: 250px;
  margin-top: 22px;
  margin-right: 30px;
  margin: 0 auto;
  background-color: white;
}

.info {
  padding-top: 20px;
  margin-left: 20px;

}

/* TIMER AND */
.timer {
  text-align: center;
  margin: 0 auto;
}

.links {
  padding-top: 24px;
  padding-right: 0px;
}

#navlogo {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  vertical-align: middle;
  padding-top: 30px;
  padding-bottom: 15px;
}

#navlinks {
  text-align: center;
  vertical-align: middle;
  padding-top: 20px;
  padding-bottom: 10px;
}


/*BUTTONS*/
#resetButton {
  display: none;
}

#runner {
  font-size: 25px;

}

#fontstart {
  margin-bottom: 0px;
}


/* TWITTER STREAM */
#tweets {
  border: 3px solid #FFFFFF;
  margin: 0 auto;
  text-align: left;
  height: 300px;
  /*padding-bottom: 20px;*/
  overflow: scroll;
  background-color: #E9F2F9;
}

.middleSection {
  margin: 0 auto;
  text-align: center;
  overflow: scroll;
}

/* THE TWEETS!! */
#blessedCounter {
  font-size: 22px;
  text-align: center;
  margin-top: 22px;
}

#fmlCounter {
  font-size: 22px;
  text-align: center;
  margin-top: 22px;
}

.theTweets {
  margin-top: 20px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  clear: right;
  padding: 2px;
  padding-top: 10px;
  padding-bottom: 25px;
  background-color: white;
}

#profPic {
  margin-left: 5px;
  padding: 10px;
  padding-top: 0px;
  float: left;
  height: 53px;
}
